<h1>Project Workspace</h1>

<section class="container">
        <div class="row">
            <figure class="col-sm-3" style="outline: 1px solid black;">
                
            </figure>
            <figure class="col-sm-6">
                <h2><%= @project.title %></h2>
            </figure>
            <figure class="col-sm-3">
                <%= link_to "Project Page", @project %>
            </figure>
        </div>
    </section>