<h1 style="text-align: center"> About Us Page </h1>

<h2 style="text-align: center"> Suave Pictures of us?</h2>

<div class=".container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <p>Description</p>
        </div>
    </div>
</div>
