<!-- Feel free to change literally anything here to work better with the CSS and formatting on the rest of the site-->
<!-- especially the lowest level div tag, that one's really just for me -->
<!-- I have attempted to make everything as easy to stylistically modify as possible -->
<!-- Testing was done on the following resolutions: 2560x1440, 1920x1080, 1366x768, 360x640-->

<div style="text-align:center">
    
    <div style="margin-left:50px;margin-right:50px">
        
    </div>
    
    <div class="jumbotron">
        <div class="container">
          <h1>Empowering Project-Based-Learning <small><br>K-12 STEM Project Kits for Teachers</small></h1>
        </div>
    </div>

    <div class="container">
       <div class="row">
            <div class="col-md-6">
                <h2><strong>What's a kit?</strong></h2>
                <h3>Highly affordable<br><small>$1-10 per student per kit</small></h3>
                <h3>Standards-integrated<br><small>NGSS, Common Core, and ISTE</small></h3>
                <h3>Completely pre-packaged<br><small>Lesson plans and materials: everything you need!</small></h3>
            </div>
           <div class="col-md-1"></div> 
           <div class="col-md-4">
                <h2><strong>Submit a project!</strong></h2>
                <h3>You know that INCREDIBLE activity you created to teach that thing you love? 
                    Submit it to the platform and get paid a cut of sales.<br>
                    <small>Subject to a painless submission process, of course.</small>
                    <br> Coming soon!
                </h3>
            <div class="col-md-1"></div>    
            </div>

        </div>
    </div>
    <img src=<%= @image %>>
    <p><%= @title %></p>
    <div class="jumbotron">
        <div class="container">
            <h1>How about us? <small><br>Here's why we do this</small></h1>
        </div>
    </div>

    <div class="container">
        <div clas="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3>We believe we can broadly increase the quality and equity of high quality STEM education by empowering teachers to spend less time and money preparing projects. We're very much a work in progress and we would love to hear from you!</h3>
                
                (Render form)
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

</div>