<!-- this will eventually need different flow controls for different standard sets but for now assumes NGSS -->

<h3>Performance Expectations:</h3>
<% @project.perf_exps.each do |pe| %>
    <h4><%= pe.code + ": " + pe.name %></h4>
    <h3><%= pe.description %></h3>
<% end %>

