<table>
    <% @Standards.each do |s| %>
        <tr>
            <td><%= s.path %></td>
            <td><%= s.id %></td>
            <td><%= s.description %></td>
            <td><%= s.project_ids %></td>
        </tr>
    <% end %>
</table>