<table>
    <% @Standards.each do |s| %>
        <tr>
            <td><%= s.path %></td>
            <td><%= s.description %></td>
            <td><%= s.id %></td>

        </tr>
    <% end %>
</table>